$primary-color: #007bff;
$column-color: rgba(255, 255, 255, 0.5);
$card-color:rgba(255, 255, 255, 0.8);
$background-color: rgba(17, 117, 162, 59%);
$font-hover-color: whitesmoke;
$icon-hover-color: black;
$front-color: lightgreen;
$back-color: red;
$device-color:  yellow;
$light-color: white;


$font-stack: 'Lato', sans-serif;

$background-photo: url(../images/background.jpg);
  
$border-radius: 10px;